[user]
  email = shawndumas@nestlabs.com
  name = shawndumas

[help]
  autocorrect = 5

[push]
  default = simple

[color]
  status = auto
  branch = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  trustctime = false

[alias]
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative --graph
  s = status -s
  st = status
  ci = commit
  br = branch
  co = checkout
  rc = rebase --continue
  dc = diff --cached
  prune-all = !git remote | xargs -n 1 git remote prune
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
  add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
  hotspots = "!sh -c 'git log --pretty=format: --name-only | sort | uniq -c | sort -rg | head -50'"
  alias = "!sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\"' && exit 0 || echo \"usage: git alias <new alias>\""
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
	unmerge = reset --merge ORIG_HEAD
	stash-unapply = !git stash show -p | git apply -R
	pr = !sh -c 'stash pull-request $(git rev-parse --abbrev-ref HEAD) master @dwk @spaulo @yujunwu @dhudson @aprilcohen @yukotakagi'
	new-push = "!sh -c 'git push 2>&1 | $(grep set-upstream)'"
	purge = "!sh -c 'git pull && git prune-all && git br'"

[rerere]
  enabled = 1

[pull]
  ff = only
  rebase = true

[mergetool]
  prompt = false
  keepBackup = false

[difftool]
  prompt = false

[merge]
  tool = Kaleidoscope
  algorithm = patience
  strategy = recursive

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[diff]
  tool = Kaleidoscope
  algorithm = patience

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
